/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"Cursed Timer ULiL";
    src:url("/Cursed_Timer_ULiL/CursedTimerULiL.eot") format("eot"),
        url("/Cursed_Timer_ULiL/CursedTimerULiL.woff") format("woff"),
        url("/Cursed_Timer_ULiL/CursedTimerULiL.ttf") format("truetype"),
        url("/Cursed_Timer_ULiL/CursedTimerULiL.svg") format("svg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B244A;
    text-align: center;

}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}

h3 {
    color: #EEEEEE;
    font-family: 'Verdana', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.whole-score {
    background-color: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin: auto;
}

#home-score, #guest-score {
    font-family: "Cursed Timer ULiL", sans-serif;
    color: #F94F6D;
    font-weight: 400;
    font-size: 90px;
    margin: 20px;
    line-height: 127px;
}

button {
    font-family: "Cursed Timer ULiL", sans-serif;
    color: #9AABD8;
    border-color: #9AABD8;
    background-color: #1B244A;
    padding: 0.8em;
    margin-top: 2em;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}

#increment-home-score {
    display: flex;
    justify-content: space-between;
}

#addtwo-btn, #addthree-btn {
    margin-left: 9px
}


#increment-guest-score {
    display: flex;
    justify-content: space-between;
}

#add2-btn, #add3-btn {
    margin-left: 9px
}

@media screen and (max-width: 375px) {
    button {
        padding: 0.65em;
    }

    #addtwo-btn, #addthree-btn {
        margin-left: 5px;
    }

    #add2-btn, #add3-btn {
        margin-left: 5px;
    }

}
